%div{:class => "navbar navbar-fixed-top"}
  .navbar-inner
    .container-fluid
      = link_to "iPhoneSMS.db", root_path, :class => "brand"
      .nav-collapse
        %ul{:class => "nav"}
          %li{:class => ""}
            = link_to "Home", root_path